<div class="container-fluid">
    <!--header bar-->
    <div class="d-flex justify-content-end p-1 gantt-topbar">
        <div class="btn-toolbar" role="toolbar">
            <div class="input-group input-group-sm me-2">
                <input class="form-control" name="mydate" placeholder="Selecione o período" 
                    angular-mydatepicker #dp="angular-mydatepicker" 
                    [options]="myDpOptions" [(ngModel)]="selectedDate"
                    (dateChanged)="onDateChanged($event)" locale="pt-br" readonly/>         
                <button type="button" class="btn btn-outline-secondary" (click)="dp.toggleCalendar()">
                    <span class="material-symbols-outlined icon-small align-middle">
                        calendar_today
                    </span>
                </button>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" title="Novo Evento" (click)="onNewEvent()">
                    <span class="material-symbols-outlined align-middle icon-small">add_task</span>
                </button>
                <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" title="Novo Marco" (click)="onNewMilestone()">
                    <span class="material-symbols-outlined align-middle icon-small">flag_circle</span>
                </button>
                <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" title="Excluir Selecionado(s)" (click)="onDeleteMassive()">
                    <span class="material-symbols-outlined align-middle icon-small">delete</span>
                </button>
                <div class="btn-group btn-group-sm" role="group" data-bs-toggle="tooltip" title="Exportar">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-symbols-outlined align-middle icon-small">download</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="javascript:void(0);" (click)="exportCSV()">CSV</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);" (click)="exportJSON()">JSON</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--end header bar-->
    <div class="d-flex" id="gantt-content">
        <as-split direction="horizontal" unit="pixel" [gutterSize]="7" style="max-height: 440px!important;">
            <as-split-area [size]="280">
                <div id="gantt-left">
                    <div id="gantt-header-left">
                        <table class="table table-sm table-bordered table-gantt">
                            <thead class="gantt-group-divider">
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                                <tr>
                                    <th class="td-checkbox">
                                        <input type="checkbox" role="switch" class="form-check-input" (change)="checkUncheckAll()" [(ngModel)]="masterChecked" id="flexSwitchCheckDefault">
                                    </th>
                                    <th><small>Evento</small></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div id="gantt-body-left" #scrollOne (mouseenter)="updateCurrentElement('scrollOne')" (scroll)="updateVerticalScroll($event)">
                        <table class="table table-sm table-bordered">
                            <tbody>
                                <tr>
                                    <td class="gantt-td-milestone"></td>
                                </tr>
                                <ng-container *ngFor="let event of eventsCalendar">
                                    <tr>
                                        <td class="td-checkbox">
                                            <input type="checkbox" class="form-check-input" [(ngModel)]="registryChecked[event.id]" id="flexSwitchCheckDefault">
                                        </td>
                                        <td class="gantt-td-event">    
                                            <a *ngIf="event.children.length>0" data-bs-toggle="collapse" role="button" [href]="'#collapse'+event.id" class="link-dark text-decoration-none text-toogle" (click)="toggleSize((eventsCalendar.length+1),event.children.length)" aria-expanded="false">
                                                <span class="material-symbols-outlined align-middle text-collapsed">navigate_next</span>
                                                <span class="material-symbols-outlined align-middle text-expanded">expand_more</span>
                                                <small>{{event.name}}</small>
                                            </a>
                                            <ng-container *ngIf="event.children.length==0">
                                                <small>{{event.name}}</small>
                                            </ng-container>
                                        </td>
                                    </tr>
                                    <ng-container *ngFor="let child of event.children">
                                        <tr [ngClass]="event.children.length>0?'accordion-collapse collapse':''" [id]="'collapse'+event.id">
                                            <td>
                                                <input type="checkbox" class="form-check-input" [(ngModel)]="registryChecked[child.id]" id="flexSwitchCheckDefault">
                                            </td>
                                            <td class="gantt-td-subevent"><small style="margin-left: 30px!important;">{{child.name}}</small></td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </as-split-area>
            <as-split-area>
                <div id="gantt-right">
                    <div id="gantt-header-right">
                        <table class="table table-sm table-bordered table-gantt">
                            <thead class="gantt-group-divider">
                                <tr>
                                    <ng-container *ngFor="let cal of response.data">
                                        <ng-container *ngFor="let month of cal.months">
                                            <th [attr.colspan]="month.weeks.length" class="text-center"><small>{{getMonthName(month.position)}}/{{cal.year}}</small></th>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                                <tr>
                                    <ng-container *ngFor="let year of response.data">
                                        <ng-container *ngFor="let month of year.months">
                                            <ng-container *ngFor="let week of month.weeks">
                                                <td class="text-center gantt-td-content"><small>{{week}}</small></td>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div id="gantt-body-right" #scrollTwo (mouseenter)="updateCurrentElement('scrollTwo')" (scroll)="updateVerticalScroll($event)">
                        <table class="table table-sm table-bordered">
                            <tbody>
                                <tr>
                                    <ng-container *ngFor="let cal of response.data">
                                        <td *ngFor="let w of totalWeeks[cal.year]" class="gantt-td-milestone">
                                            <ng-container *ngFor="let mile of milestones">
                                            <a href="javascript:void(0);" (click)="onEditMilestone(mile)" *ngIf="mile.id>0">
                                                <app-milestone *ngIf="w==mile.start_week && mile.year==cal.year" [ComponentColor]="mile.type.hex_color" [ComponentSize]="((totalEventsDisplay)*30)" [EventName]="mile.name" [DateStart]="formatEventDate(mile.start_date)"></app-milestone>
                                            </a>
                                            <app-milestone *ngIf="w==mile.start_week && mile.year==cal.year && mile.id==0" [ComponentColor]="mile.type.hex_color" [ComponentSize]="((totalEventsDisplay)*30)" [EventName]="mile.name" [DateStart]="formatEventDate(mile.start_date)"></app-milestone>
                                            </ng-container>
                                        </td>
                                    </ng-container>
                                </tr>
                                <ng-container *ngFor="let event of eventsCalendar">
                                    <tr class="row-content">
                                        <ng-container *ngFor="let cal of response.data">
                                            <td *ngFor="let w of totalWeeks[cal.year]" class="gantt-td-content">
                                                <a href="javascript:void(0);" (click)="onEditEvent(event)" *ngIf="w==event.start_week && event.year==cal.year" class="text-decoration-none link-light">
                                                    <app-event [ComponentSize]="(((event.end_week-event.start_week)+1)*30)-2" [ComponentColor]="event.type.hex_color" [ComponentCollection]="event.collection.name" [ComponentBrand]="event.collection.brand.name" [ComponentDateStart]="formatEventDate(event.start_date)" [ComponentDateEnd]="formatEventDate(event.end_date)"></app-event>
                                                </a>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <ng-container *ngFor="let child of event.children">
                                        <tr [ngClass]="event.children.length>0?'accordion-collapse collapse':''" [id]="'collapse'+event.id">
                                            <ng-container *ngFor="let cal of response.data">
                                                <td *ngFor="let w of totalWeeks[cal.year]" class="gantt-td-content">
                                                    <a href="javascript:void(0);" (click)="onEditEvent(child)" *ngIf="w==child.start_week && child.year==cal.year" class="text-decoration-none link-light">
                                                        <app-event [ComponentSize]="(((child.end_week-child.start_week)+1)*30)-2" [ComponentColor]="child.type.hex_color" [ComponentCollection]="child.collection.name" [ComponentBrand]="child.collection.brand.name" [ComponentDateStart]="formatEventDate(child.start_date)" [ComponentDateEnd]="formatEventDate(child.end_date)"></app-event>
                                                    </a>
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </as-split-area>
        </as-split>
    </div>
</div>

<!--Offcanvas para edição de milestone e evento-->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas_edit" aria-labelledby="offcanvas_editLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvas_editLabel">Cadastro/Edição de {{moduleToOpenName}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <app-event-form *ngIf="moduleToOpen=='event'" (CloseModal)="onCloseModal($event)" [selectedEvent]="eventToEdit" [selectedPeriod]="selectedDate"></app-event-form>
        <app-milestone-form *ngIf="moduleToOpen!='event'" (CloseModal)="onCloseModal($event)" [selectedEvent]="milestoneToEdit" [selectedPeriod]="selectedDate"></app-milestone-form>
    </div>
  </div>

<div class="modal fade" id="modal_massive" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <span class="material-symbols-outlined align-middle text-danger">
                error
                </span> <h5 class="modal-title">Confirmação de execução</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>{{message}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
            <button type="button" class="btn btn-primary" (click)="onExecuteDelete()">Sim</button>
        </div>
        </div>
    </div>
</div>