<div class="container">
    <h3>Gest&atilde;o de Usu&aacute;rios</h3>
    <!--Barra de dados-->
    <div class="d-flex pb-4 gap-2">
        <input type="text" class="form-control form-control-sm" placeholder="Buscar..." (keydown.enter)="onSearch()" [(ngModel)]="searchTerm">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-sm btn-primary" data-bs-toggle="tooltip" title="Novo" (click)="onNew()"><span class="material-symbols-outlined align-middle">add</span></button>
            <button type="button" class="btn btn-primary btn-sm" [class]="isCollapsedFilter ? 'active' : ''" (click)="collapseFilter()" aria-expanded="false" data-bs-toggle="tooltip" title="Filtros">
                <span class="material-symbols-outlined">filter_alt</span>
            </button>
            <button type="button" class="btn btn-primary btn-sm" [class]="isCollapsedMassive ? 'active' : ''" (click)="collapseMassive()" aria-expanded="false" data-bs-toggle="tooltip" title="Ações em massa">
                <span class="material-symbols-outlined">published_with_changes</span>
            </button>
            <div class="btn-group btn-group-sm" role="group" data-bs-toggle="tooltip" title="Paginação">
                <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                    {{this.options.pagSize}}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);" (click)="setPaginationSize(25)">25</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" (click)="setPaginationSize(50)">50</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" (click)="setPaginationSize(100)">100</a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-sm" role="group" data-bs-toggle="tooltip" title="Exportar">
                <button type="button" class="btn  btn-primary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="material-symbols-outlined">download</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);" (click)="exportCSV()">CSV</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" (click)="exportJSON()">JSON</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" (click)="exportCSV(true)">CSV (Tudo)</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" (click)="exportJSON(true)">JSON (Tudo)</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--Fim da barra de dados-->
    <div class="collapse" id="massiveFilterPanel" [class.show]="isCollapsedMassive || isCollapsedFilter">
        <div class="card card-body">
            <div class="row">
                <div class="col-md">
                    <label for="slTypeMassive">Tipo</label>
                    <select id="slTypeMassive" class="form-select form-select-sm" [(ngModel)]="massiveType">
                        <option value=""></option>
                        <option value="A">Administrador</option>
                        <option value="L">Lojista</option>
                        <option value="R">Representante Comercial</option>
                        <option value="C">Usuário do Sistema</option>
                        <option value="V">Vendedor</option>
                    </select>
                </div>
                <div class="col-md">
                    <label for="slStatusMassive">Status</label>
                    <select id="slStatusMassive" class="form-select form-select-sm" [(ngModel)]="massiveStatus">
                        <option value=""></option>
                        <option value="1">Ativo</option>
                        <option value="2">Inativo</option>
                    </select>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md justify-content-end text-end" *ngIf="isCollapsedMassive">
                    <button type="button" class="btn btn-primary btn-sm" (click)="onExecuteMassive()">
                        <span class="material-symbols-outlined align-middle">commit</span> Executar
                    </button>
                </div>
                <div class="col-md justify-content-end text-end" *ngIf="isCollapsedFilter">
                    <button type="button" class="btn btn-primary btn-sm" (click)="onExecuteFilter()">
                        <span class="material-symbols-outlined align-middle">search</span> Filtrar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th><div class="form-check form-switch pt-1">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (change)="checkUncheckAll()" [(ngModel)]="masterChecked">
                    </div></th>
                    <th>Login</th>
                    <th>Tipo</th>
                    <th>Status</th>
                    <th>Criado Em</th>
                    <th>Modificado Em</th>
                    <th>A&ccedil;&atilde;o</th>
                </tr>
            </thead>
            <tbody *ngIf="response.data!=undefined">
                <tr *ngFor="let item of response.data">
                    <td><div class="form-check form-switch pt-1">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="registryChecked[item.id]">
                    </div></td>
                    <td>{{item.username}}</td>
                    <td>{{item.type | userType }}</td>
                    <td><span class="badge" [class]="item.active==true?'text-bg-success':'text-bg-danger'">{{item.active==true?'Ativo':'Inativo'}}</span></td>
                    <td>{{item.date_created | date:'dd/MM/YYYY HH:mm'}}</td>
                    <td>{{item.date_updated | date:'dd/MM/YYYY HH:mm'}}</td>
                    <td>
                        <a href="javascript:void(0)" (click)="onEdit(item)">
                            <span class="material-symbols-outlined">edit</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row mt-4" *ngIf="response.pagination.page > 0">
        <div class="col">
          <div class="pagination p1 justify-content-center">
            <ul>
              <a href="javascript:void(0);" [ngClass]="{'disabled': response.pagination.page === 1}" (click)="prev()"><li>&laquo;</li></a>
              <a href="javascript:void(0);" *ngFor="let number of numbers" [ngClass]="{ 'is-active': options.page === number }" (click)="to(number)"><li>{{number}}</li></a>
              <a href="javascript:void(0);" [ngClass]="{'disabled': response.pagination.pages===response.pagination.page}" (click)="next()"><li>&raquo;</li></a>
            </ul>
          </div>
        </div>
      </div>
</div>

<!--Offcanvas para atualização de dados de usuário-->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEdit" aria-labelledby="offcanvasEditLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasEditLabel">Edição de Usuário</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="frmUser" novalidate class="needs-validation">
        <div class="row">
            <div class="col-md">
                <label for="slType">Tipo</label>
                <select id="slType" class="form-select" formControlName="slType" [ngClass]="{'is-invalid': hasSend && frmUser.controls['slType'].invalid }" required>
                    <option value="">&laquo; Selecione &raquo;</option>
                    <option value="A">Administrador</option>
                    <option value="L">Lojista</option>
                    <option value="R">Representante Comercial</option>
                    <option value="C">Usuário do Sistema</option>
                    <option value="V">Vendedor</option>
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md">
                <label for="txtUsername">Login</label>
                <input type="text" class="form-control" id="txtUsername" formControlName="txtUsername" [ngClass]="{'is-invalid': hasSend && frmUser.controls['txtUsername'].invalid }" required>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md">
                <label for="txtPassword">Senha</label>
                <input type="password" class="form-control" id="txtPassword" formControlName="txtPassword" [ngClass]="{'is-invalid': hasSend && frmUser.controls['txtPassword'].invalid && !isEdit }">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md">
                <label for="txtCPassword">Confirmar Senha</label>
                <input type="password" class="form-control" id="txtCPassword" formControlName="txtCPassword" [ngClass]="{'is-invalid': hasSend && frmUser.controls['txtCPassword'].invalid && !isEdit }">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md">
                <button type="button" class="btn btn-sm btn-danger w-100" data-bs-dismiss="offcanvas">Cancelar</button>
            </div>
            <div class="col-md">
                <button type="submit" class="btn btn-sm btn-primary w-100" [ngClass]="hasSend?'disabled':''">Salvar</button>
            </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal fade" id="modal_massive" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmação de execução</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{msgMassive}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
          <button type="button" class="btn btn-primary" (click)="onChangeMassive()">Sim</button>
        </div>
      </div>
    </div>
  </div>