<div class="container">
    <h3>Gest&atilde;o de Usu&aacute;rios</h3>
    <div class="d-flex pb-4 gap-2">
        <input type="text" class="form-control form-control-sm" placeholder="Buscar...">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-sm btn-primary" data-bs-toggle="tooltip" title="Novo"><span class="material-symbols-outlined align-middle">add</span></button>
            <button class="btn btn-sm btn-primary" data-bs-toggle="tooltip" title="Excluir" *ngIf="response.data.length>0"><span class="material-symbols-outlined align-middle">delete</span></button>
            <div class="btn-group btn-group-sm" role="group" data-bs-toggle="tooltip" title="Paginação" *ngIf="response.data.length>0">
                <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                    {{pageSize}}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);" (click)="setPaginationSize(25)">25</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" (click)="setPaginationSize(50)">50</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" (click)="setPaginationSize(100)">100</a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-sm" role="group" data-bs-toggle="tooltip" title="Exportar" *ngIf="response.data.length>0">
                <button type="button" class="btn  btn-primary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="material-symbols-outlined">download</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">CSV</a></li>
                    <li><a class="dropdown-item" href="#">JSON</a></li>
                    <li><a class="dropdown-item" href="#">XML</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th><div class="form-check form-switch pt-1">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (change)="checkUncheckAll()" [(ngModel)]="masterChecked" [ngModelOptions]="{standalone: true}">
                    </div></th>
                    <th>Login</th>
                    <th>Tipo</th>
                    <th>Criado Em</th>
                    <th>Modificado Em</th>
                    <th>Status</th>
                    <th>A&ccedil;&atilde;o</th>
                </tr>
            </thead>
            <tbody *ngIf="response.data!=undefined">
                <tr *ngFor="let item of response.data">
                    <td><div class="form-check form-switch pt-1">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    </div></td>
                    <td>{{item.username}}</td>
                    <td>{{getType(item.type)}}</td>
                    <td>{{item.date_created | date:'dd/MM/YYYY HH:mm'}}</td>
                    <td>{{item.date_updated | date:'dd/MM/YYYY HH:mm'}}</td>
                    <td>{{item.active==true?'Ativo':'Inativo'}}</td>
                    <td>
                        <a href="javascript:void(0)"><span class="material-symbols-outlined">
                            edit
                            </span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row mt-4" *ngIf="response.pagination.page>0">
        <div class="col">
          <div class="pagination p1 justify-content-center">
            <ul>
              <a href="javascript:void(0);" [ngClass]="{'disabled': response.pagination.page === 1}" (click)="prev()"><li>&laquo;</li></a>
              <a href="javascript:void(0);" *ngFor="let number of numbers" [ngClass]="{ 'is-active': options.page === number }" (click)="to(number)"><li>{{number}}</li></a>
              <a href="javascript:void(0);" [ngClass]="{'disabled': response.pagination.pages===response.pagination.page}" (click)="next()"><li>&raquo;</li></a>
            </ul>
          </div>
        </div>
      </div>
</div>