<div class="card shadow-sm">
    <div class="card-body text-center">
        <div class="d-flex justify-content-start">
            <span class="material-symbols-outlined text-primary align-middle">{{icon}}</span>&nbsp;
            <h5>{{title}}</h5>
        </div>
        <div class="d-flex justify-content-start"><span class="text-secondary">{{subtitle}}</span></div>
        <h1 *ngIf="isMoney">{{value | shortMoney}}</h1>
        <h1 *ngIf="isNumber">{{value}}</h1>
        <span *ngIf="isText">{{text}}</span>
    </div>
</div>