<div class="container-fluid pt-5">
    <div class="d-flex justify-content-end pb-4">
        <div class="btn-group">
            
            <button class="btn btn-outline-dark btn-sm">+ Adicionar Evento</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th><small>EVENTO</small></th>
                    <th class="text-center"><small></small></th>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <ng-container>
                        <th></th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <ng-container>
                        <td></td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>