.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .icon-blue{
    filter: invert(28%) sepia(99%) saturate(2566%) hue-rotate(209deg) brightness(100%) contrast(99%);
  }

  .icon-warning{
    filter: invert(76%) sepia(49%) saturate(966%) hue-rotate(351deg) brightness(99%) contrast(104%)
  }