.toastStyle {
    background-color: #a370f7!important;
    position: relative!important;
    overflow: hidden!important;
    margin: 0 0 6px!important;
    padding: 10px 10px 10px 10px!important;
    width: 300px!important;
    border-radius: 3px 3px 3px 3px!important;
    color: #FFFFFF!important;
    pointer-events: all!important;
    cursor: pointer!important;
}