.card:hover{
    box-shadow: 0 .2rem 1rem rgba(var(--bs-body-color-rgb),.15)!important;
}

.labels{
    text-align: center!important;
    font-size: 12px!important;
}

a{
    text-decoration: none!important;
}
