<div class="container">
    <div class="row">
        <div class="col-md" *ngFor="let card of topCards;">
            <app-card [icon]="card.icon" [title]="card.title" [subtitle]="card.subtitle" [value]="card.value" [dataType]="card.dataType"></app-card>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-md-6">
            <ng-container *ngIf="location=='calendar'">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <div class="d-flex justify-content-start">
                            <span class="material-symbols-outlined text-primary">local_mall</span>&nbsp;
                            <h5>Pedidos por Representante</h5>
                        </div>                    
                        <div echarts [options]="chartRepresentative" class="demo-chart"></div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="location=='admin'"></ng-container>
            <ng-container *ngIf="location=='crm'"></ng-container>
            <ng-container *ngIf="location=='salesforce'"></ng-container>
        </div>
        <div class="col-md-3">
            <ng-container *ngIf="location=='calendar'">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex justify-content-start">
                            <span class="material-symbols-outlined text-primary">monetization_on</span>&nbsp;
                            <h5>Total Última Coleção</h5>
                        </div>
                        <div echarts [options]="chartLastSell"></div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="location=='admin'"></ng-container>
            <ng-container *ngIf="location=='crm'"></ng-container>
            <ng-container *ngIf="location=='salesforce'"></ng-container>
        </div>
        <div class="col-md-3">
            <ng-container *ngIf="location=='calendar'">
                <ng-container *ngFor="let card of rowCards">
                    <app-card [icon]="card.icon" [title]="card.title" [subtitle]="card.subtitle" [dataType]="card.dataType" [text]="card.text"></app-card><br>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="location=='admin'">
                <app-card></app-card><br>
                <app-card></app-card>
            </ng-container>
            <ng-container *ngIf="location=='crm'">
                <app-card></app-card><br>
                <app-card></app-card>
            </ng-container>
            <ng-container *ngIf="location=='salesforce'">
                <app-card></app-card><br>
                <app-card></app-card>
            </ng-container>            
        </div>
    </div>
</div>