<form (ngSubmit)="onSubmit()" [formGroup]="frmMilestone" novalidate class="needs-validation">
    <div class="row mb-2">
        <div class="col-md">
            <label for="slMilestoneType">Tipo do Evento</label>
            <select id="slMilestoneType" class="form-select" formControlName="slMilestoneType" [ngClass]="{'is-invalid': (hasSend && frmMilestone.controls['slMilestoneType'].invalid) }" required [(ngModel)]="selectedEventType.id">
                <option value="">&laquo; Selecione &raquo;</option>
                <ng-container *ngFor="let evt of eventTypes">
                    <option [value]="evt.id" *ngIf="evt.is_milestone==true">{{evt.name}}</option>
                </ng-container>
            </select>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md">
            <label for="txtMilestoneName">Nome</label>
            <input type="text" class="form-control" id="txtMilestoneName" formControlName="txtMilestoneName" [ngClass]="{'is-invalid': (hasSend && frmMilestone.controls['txtMilestoneName'].invalid) }" required>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md">
            <label for="dtMilestoneStart">Data</label>
            <div class="input-group" role="group">
                <input class="form-control" name="dtMilestoneStart" placeholder="Selecione a data" 
                    angular-mydatepicker #dp="angular-mydatepicker" 
                    [options]="myDpOptions" [(ngModel)]="selectedDate" formControlName="dtMilestoneStart"
                    (dateChanged)="onDateChanged($event)" locale="pt-br" readonly [ngClass]="{'is-invalid': hasSend && frmMilestone.controls['dtMilestoneStart'].invalid }" required/>
                <button type="button" class="btn btn-outline-secondary" (click)="dp.toggleCalendar()">
                    <span class="material-symbols-outlined icon-small align-middle">
                        calendar_today
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <button type="button" class="btn btn-danger w-100" (click)="closeForm()"><span class="material-symbols-outlined align-middle icon-small">cancel</span> Cancelar</button>
        </div>
        <div class="col-md">
            <button type="submit" class="btn btn-primary w-100" [ngClass]="hasSend && frmMilestone.invalid?'disabled':''"><span class="material-symbols-outlined align-middle icon-small">save</span> Salvar</button>
        </div>
    </div>
</form>